.navbar {
    background-color: rgba(0, 0, 0, 0.322); /* Set your desired background color */
    height:80px;
    margin: 0;
  }
  
  .navbar .nav-link {
    color: #316daa; /* Set your desired text color */
  }
  
  .navbar .nav-link:hover {
    color: #fff; /* Set your desired hover color */
  }

  