.parcel-booking {
    
    background-image: url(/assets/pexels-artem-podrez-5025669.jpg);
    background-size: cover;
    background-position: center center;
    /* Additional styles to preserve image aspect ratio */
    background-attachment: fixed;
    position:relative;
    z-index:2;
   
  }
  .parcel-booking::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1;
  }
  .element{
    text-decoration-color: white;
  }
  .navlink{
    color:white;
  }
  
  