.message {

    gap: 40px;
    
    position: relative;
    
    cursor: pointer;
    
    }
    
    .circle {
    
    height: 7px;
    
    width: 7px;
    
    position: absolute;
    
    background-color: #fa7bb4;
    
    border-radius: 50%;
    
    left: 19px;
    
    top: 8px;
    
    }
    
    .dp {
    
    height: 40px;
    
    width: 40px;
    
    background-color: #626262;
    
    border-radius: 50%;
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    overflow: hidden;
    
    }